<form (ngSubmit)="onSubmit()" #demoForm="ngForm">

  <div>
    <label for="title">title</label>
    <input [(ngModel)]="blog.title" type="text" name="title" id="title">
  </div>

  <div>
    <label for="tags">tags</label>
    <input [(ngModel)]="blog.tags" type="text" name="tags" id="tags">
  </div>

  <!-- <button type="button" (click)="changeEditor('Ckeditor')">CkEditor</button> -->
  <!-- <button type="button" (click)="changeEditor('MarkDown')">MarkDown</button> -->

  <label for="context">context</label>
  <div *ngIf="blog.contextType=='Ckeditor'">
    <app-ckeditor name="context" [readOnly]="readOnly"></app-ckeditor>
  </div>
  <!-- <div *ngIf="blog.contextType=='MarkDown'">
    <app-markdown name="context" [readOnly]="readOnly"></app-markdown>
  </div> -->

  <div *ngIf="readOnly">
    <p><button type="button" (click)="edit()">Edit</button></p>
  </div>
  <div *ngIf="!readOnly">
    <p><button type="submit">save</button></p>
  </div>
</form>