<form (ngSubmit)="onSubmit()" #demoForm="ngForm">

  <div>
    <label for="title">title</label>
    <input [(ngModel)]="model.title" type="text" name="title" id="title">
  </div>

  <div>
    <label for="tags">tags</label>
    <input [(ngModel)]="model.tags" type="text" name="tags" id="tags">
  </div>

  <button type="button" (click)="changeEditor('Ckeditor')">CkEditor</button>
  <button type="button" (click)="changeEditor('MarkDown')">MarkDown</button>

  <label for="context">context</label>
  <div *ngIf="model.contextType=='Ckeditor'">
    <app-ckeditor name="context"></app-ckeditor>
  </div>
  <div *ngIf="model.contextType=='MarkDown'">
    <app-markdown name="context"></app-markdown>
  </div>

  <p><button type="submit">save</button></p>
</form>