<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<router-outlet></router-outlet>


<form (ngSubmit)="onSubmit()" #demoForm="ngForm">

  <div>
    <label for="title">title</label>
    <input [(ngModel)]="model.title" type="text" name="title" id="title">
  </div>

  <div>
    <label for="tags">tags</label>
    <input [(ngModel)]="model.tags" type="text" name="tags" id="tags">
  </div>

  <label for="context">context</label>
  <!-- <ckeditor [(ngModel)]="model.context" name="context"></ckeditor> -->
  <app-ckeditor name="context"></app-ckeditor>

  <app-markdown></app-markdown>

  <p><button type="reset" (click)="reset()">Reset form</button></p>
  <p><button type="submit">Submit this form</button> <em>(Open the console first)</em></p>
</form>